*
{
    padding: 0;
    margin:0;
}
.main
{
    /* background-color: aqua; */
    font-family: "Frank Ruhl Libre";
}
.header
{
    /* background-color: rosybrown; */
    width:100%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 9.5rem;
    
}
#img
{
    height:10vh;
    width:20vw;
}
.navigation
{
    height: 100%;;
}
.navigation .navitems 
{
    display:flex;
    margin:0;
    padding:0;
    font-weight: 900;
}
.navigation .navitems li {
    list-style: none;
}
.navitems li a
{
    display: block;
    text-decoration: none;
    color:black;
    padding:1rem;
    text-transform: uppercase;
}
.navitems li a:hover
{
    background-color: rgb(184, 168, 168);
}
.container
{
    display: flex;
    /* background-color:tomato; */
    padding-left:13rem; 
    padding-right:13rem;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color:white;
}
.content .title
{
    font-size: 3rem;
}
.content .heading_subtitle
{
    font-size:1.7rem;
    text-align: justify;
    color: gray;
}
 .jump_to_recipe
{
   display:inline-flex;
   height:5vh;
   padding:0;
   background: #009578;
   border:none;
   outline:none;
   border-radius:5px;
   font-family: "Frank Ruhl Libre", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   cursor:pointer;
}
.jump_to_recipe a
{
    text-decoration: none;
}
.jump_to_recipe:hover
{
   background: #008168;
}
.arrow,.arrow-text
{
    display: inline-flex;
    align-items: center;
    padding: 0 1.5rem;
    color:white;
    height: 100%;;
}
.arrow
{
    font-size: 1.5rem;
    background: rgba(0,0,0,0.08);
}
#recipepic
{
    width:37.5rem;
    height:56.325rem;
    margin-bottom:5rem;
    margin-top:2rem;
}
#ingredients
{
    font-size: 2rem;
    line-height:1.3rem;
    color:#222;
    margin-bottom: 2rem;
}
.ingredients-list
{
    padding:1.5rem;
    line-height: 1.56rem;
    font-size:1.125rem;
    border-top : 0.03125rem solid gray;
}
.ingredients-list ul li
{
    content:"\2022";
    color:#008168;
}
.ingredients-list ul li span
{
    color:#222;
}
.method
{
    margin-top:1rem;
    font-size: 1.75rem;
}
.method-details
{
    border-top:#222 solid 0.03125rem;
    padding-top:1rem;
}
.method-details-ol
{
    padding:1.7rem;
    margin-bottom:0.375rem;
    font-size:1.625rem;
    line-height: 1.11;
    color:#008168
}
.method-details-ol span
{
    color:#222;
}
.method-details-ol li ul
{
    color:#222;
    font-size:1.125rem;
    list-style:none;
    margin-top:0.5rem;
    width:34.75rem;
    line-height: 1.156;
}

.method-details-ol li ul li
{
    margin-bottom: 1rem;;
}
.method-details-img
{
    height:23.12rem;
    width:34.75rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
.footer
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5rem;
    line-height: 2rem;
    /* border:red solid 5px; */
    font-family: 'Frank Ruhl Libre', serif;

}
fieldset
{
    margin:10px;
    padding:5px;
    width:34.75rem;
    height:11rem;
    border-radius: 0.3125rem;
    border:#009578 solid 3px;
}
fieldset legend
{
    color:#009578;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight:600 ;
}
.nutrition-values-list
{
    padding-left:1rem;
    padding-right:15rem;
    border-bottom: 0.5px solid #009578;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.nutrition-values-li
{
    display:flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    color:#009578;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;

}
.nutrition-parameters
{
    display:flex;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height:1.8rem;
    font-weight: 500;
}
.fat
{
    padding-left:2.5rem;
}
.nutrition-parameters .carb
{
    padding-left:4.8rem; 
    padding-right: 3rem;
}
.nutrition-text
{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color:#666666;
}
#per-serving
{
    font-size: 0.75rem;
}
footer
{
    margin-top:5rem;
    border-top:yellow solid 0.5px;
}
#ready-to-cook
{
    font-size: 3.69vh;
    font-weight: 500;
}
#newsletter
{
    font-family: 'Roboto', sans-serif;
    color: #222222;
    font-weight: 500;
}
.input-box
{
    height:2.5rem;
    width:19.37rem
}
.input-button
{
    height:2.5rem;
    width:4rem;
    background-color:#009578;
    border:none;
    border-radius: 10px;
    font-family: "Frank Ruhl Libre";
    font-weight: 600;
    color:white;
    letter-spacing: 0.0875rem;;
}
.friends
{
    font-family: roboto;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.0175rem;
}
.column-2
{
    /* border:solid red 1px; */
}
.navbaritems li
{
    list-style: none;
}
.navbaritems li a
{
    text-decoration: none;
    color:#009578;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.items
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color:#666666;
    
}
.items li
{
    list-style: none;
}
